{{#if currentUser}}
<div class="login">
  <button onclick="location.href = '/logout'; return false;"> Logout</button>
</div>
{{else}}
  <form class="login">
    <button class="btn-flat modal-trigger" data-target="modalL"> Login </button>
    <button class="btn-flat modal-trigger" data-target="modalS"> Sign Up </button>
  </form>
{{/if}}
