<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=icon href="/favicon.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    // console.log($('.modal'));
    $('.modal').modal();
  });
  </script>
  <style>
    a {
        color: #0D47A1;
        font-weight: bold;
    }
    .card p {
      text-align: center;
      font-size: 18px;
    }
    .theCode {
      font-size: 25px !important;
    }
    .card {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      margin-bottom: 30px !important;
    }
    .page-footer {
      background-color: #1DE9B6 !important;
      margin-top: 60px;
    }
    .page-footer .footer-copyright {
      padding: 10px !important;
    }
    body {
      display: flex !important;
      min-height: 100vh !important;
      flex-direction: column !important;
    }
    main {
      flex: 1 0 auto !important;
    }
    .login {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .login input {
      margin-right: 10px;
      max-width: 100px;
    }
    .login button {
      margin-bottom: 7px;
    }
    h1 {
      text-align: center;
      letter-spacing: 3px;
    }
    .btn-flat {
      margin-top: 5px;
    }
    .answers {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    @media only screen and (max-width: 780px) {
      .answers {
        flex-direction: column !important;
      }
      .answers form {
        margin: 10px;
      }
      .answers form button {
        width: 200px;
        height: 50px;
        line-height: normal;
      }
    }

  </style>
  <Title> Learn HTTP Status Codes! </Title>
</head>
<body>
  {{{body}}}
</body>

</html>
