<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=icon href=/favicon.jpg>
  <style>
  body {
    font-family: Arial, sans-serif;
  }
  p {
    text-align: center;
  }

  h1 {
    text-align: center;
    letter-spacing: 2px;
  }

  .answers {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
  }

  .card {
    background-color: rgba(200, 200, 200, .9);
    padding: 10px;
    max-width: 500px;
    margin: auto;
    border-radius:
  }

  .btn {
    margin: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #aae;
  }

  .q {
    font-size: 20px;
  }

</style>
  <Title> Learn HTTP Status Codes! </Title>
</head>
<body>
  {{{body}}}
</body>

</html>
