<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=icon href="/favicon.jpg">
  <style>
  body {
    font-family: Arial, sans-serif;
  }
  p {
    text-align: center;
  }

  h1 {
    text-align: center;
    letter-spacing: 2px;
  }

  .answers {
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 500px;
    margin: auto;
  }

  .card {
    background-color: rgba(200, 200, 200, .9);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500px;
    margin-bottom: 10px;
  }

  .btn {
    margin: 20px;
    height: 40px;
    width: 90px;
    background-color: #aae;
  }

  .q {
    font-size: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }

  .foot {
    flex: 5;
    margin-top: auto;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .login input {
    margin-right: 10px;
  }

  .login button {
    margin-right: 10px;
  }

  .signup {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: red;
  }

</style>
  <Title> Learn HTTP Status Codes! </Title>
</head>
<body>
  {{{body}}}
</body>

</html>
