<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style>
  body {
    font-family: Arial, sans-serif;
  }
  p {
    text-align: center;
  }

  h1 {
    text-align: center;
    letter-spacing: 2px;
  }

  .card {
    background-color: rgba(200, 200, 200, .9);
    padding: 10px;
    max-width: 500px;
    margin: auto;
    border-radius:
  }
</style>
  <Title> Learn HTTP Status Codes! </Title>
</head>
<body>
  {{{body}}}
</body>

</html>
