<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel=icon href="/favicon.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <style>
    .card p {
      text-align: center;
    }
    .theCode {
      font-size: 20px;
    }
    .card {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      margin-bottom: 30px !important;
    }
    .page-footer {
      background-color: #1DE9B6 !important;
      margin-top: 60px;
    }
    .page-footer p {
      text-align: center;
    }
    .container form {
      display: inline !important;
    }
    body {
      display: flex !important;
      min-height: 100vh !important;
      flex-direction: column !important;
    }
    main {
      flex: 1 0 auto !important;
    }

  </style>
  <Title> Learn HTTP Status Codes! </Title>
</head>
<body>
  {{{body}}}
</body>

</html>
