<header>
{{> login-bar}}
</header>
<main>
  <div class="container">
    <h1> Learn HTTP </h1>
    {{> question-card}}
  </div>
</main>
  {{> footer}}

  <!-- Modal Structure -->
  <div id="modalL" class="modal">
    <form class="modal-content">
      <input placeholder="username"/>
      <input type="password" placeholder="password"/>
    </form>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Log In</a>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modalS" class="modal">
    <form class="modal-content">
      <input placeholder="username"/>
      <input type="password" placeholder="password"/>
    </form>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Up!</a>
    </div>
  </div>
