<button onclick="location.href = '/'; return false;"> Home </button>

<form class="signup" method="POST" action="/sign-up">
  <div>
    <label for="username" />
    <input type="text" name="username" id="username" placeholder="Username"/>
  </div>
  <div>
    <label for="password" />
    <input type="password" name="password" id="password" placeholder="Password"/>
  </div>
  <button type="submit">Sign up</button>
</form>
