
  a {
      color: #0D47A1;
      font-weight: bold;
  }
  .card p {
    text-align: center;
    font-size: 18px;
  }
  .theCode {
    font-size: 25px !important;
  }
  .card {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-bottom: 30px !important;
  }
  .page-footer {
    background-color: #1DE9B6 !important;
    margin-top: 60px;
  }
  .page-footer .footer-copyright {
    padding: 10px !important;
  }
  body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    height: 100%;
  }
  main {
    flex: 1 0 auto !important;
  }
  .login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .login input {
    margin-right: 10px;
    max-width: 100px;
  }
  .login button {
    margin-bottom: 7px;
  }
  h1 {
    text-align: center;
    letter-spacing: 3px;
  }
  .btn-flat {
    margin-top: 5px;
  }
  .answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .answers > form {
    margin: 0 5px;
  }
  .answers form button {
    width: 200px;
    height: 50px;
    line-height: normal;
  }

  .answers > form:first-child { margin-left: 0; }

  .answers > form:last-child { margin-right: 0; }

  @media only screen and (max-width: 1200px) {
    .answers {
      flex-direction: column !important;
    }
    .answers form {
      margin: 10px !important;
    }
  }
